body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
  border: 10px solid #ff0000;
  margin-top: -10px;
}

p {
  color: white;
  text-align: center;
}

table {
  color: white;
  text-align: center;
  border: 10px solid #ff0000;
}

.coins {
  color: white;
  text-align: center;
}

.search {
  color: white;
  text-align: center;
}